* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.general-seleccionQuiz {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/seleccionULM.jpg);
    background-size: cover;
}

.cuadro-botones-seleccionQuiz{
    width: 60%;
    display: flex;  /* Establece un contenedor flexible */
    justify-content: space-between; /* Espacio entre los botones */
}

.parrafos-seleccionQuiz{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.parrafos-seleccionQuiz p{
    width: 1100px;
    text-align: center;
    background-color: rgba(0,0,0,0.4) !important;
    color: rgb(125, 8, 8);
    border-radius: 20px;
    font-size: 55px;
    font-weight: 700;  
    box-shadow: 6px 6px 10px rgb(0, 0, 0,1 );
}

.btn-seleccionQuiz{
    color: white !important;
    background-color: rgb(85, 10, 10) !important;
    border: none;
    font-size: 17px !important;
    font-weight: 900 !important;
    box-shadow: 6px 6px 10px rgb(0, 0, 0,1 ) !important;   
}

.btn-seleccionQuiz:hover {
    background-color:rgb(29, 28, 28)!important;
    border: none;
    color: #fff;
    box-shadow: 6px 6px 10px rgb(0, 0, 0,1 ) !important;    
}

@media screen and (max-width:1120px){
    .parrafos-seleccionQuiz p{
        width: 800px;
        font-size: 30px;
    }
    .btn-seleccionQuiz{
        width: 200px;
        font-size: 12px !important;
    }
}

@media screen and (max-width:820px){
    .parrafos-seleccionQuiz p{
        width: 500px;
        font-size: 20px;
    }
    .btn-seleccionQuiz{
        width: 150px;
        font-size: 8px !important;
    }
}

@media screen and (max-width:520px){
    .parrafos-seleccionQuiz p{
        width: 300px;
        font-size: 15px;
    }
    .btn-seleccionQuiz{
        width: 100px !important;
        font-size: 5px !important;
    }
}

@media screen and (max-width:300px){
    .parrafos-seleccionQuiz p{
        width: 200px;
        font-size: 10px;
    }
    .btn-seleccionQuiz{
        width: 70px !important;
        font-size: 3px !important;
    }
}