.container_general_SuscripcionActiva {

    width: 100vw;
    height: 100vh;
    background-image: url(../img/ActualizarSuscripcion.jpg);
    background-size: cover;
  }
  .Container_Principal_SuscripcionActiva {
    position: absolute;
      width: 40%;
      left: 50%;
      top: 50%;
      font-size: 20px;
      transform: translate(-50%, -50%);
      padding: 40px;
      border-radius: 20px;
      background: rgba(0,0,0,0.6);
      box-shadow: 8px 8px 12px rgb(161, 161, 149), -8px -8px 12px white;
  }
  
  
  .Container_Secundario_SuscripcionActiva {
    text-align: center;
  }
  .Logo_SuscripcionActiva {
    margin: 10px;
    width: 100px;
    height: 70px;
    border-radius: 10px;
  }
  
  .titulo_login_SuscripcionActiva {
    font-weight: 700;
    color: #fff;
  }
  
  .Letras_Usuario_SuscripcionActiva {
    color: #fff;
    font-weight: bold;
  }
  .textInput_SuscripcionActiva{
    border-radius: 10px;
    width: 90%;
    font-size: 15px;
    height: 30px;
  }
  .form-select_SuscripcionActiva{
  font-size: 15px;
  }
  
   
  @media screen and (max-width:950px){
    .textInput_SuscripcionActiva{
      font-size: 10px;
    }
  }

  @media screen and (max-width:800px){
    .Container_Principal_SuscripcionActiva{
        width: 60%;
    }
  }
  
  @media screen and (max-width:600px){
    .Container_Principal_SuscripcionActiva{
        width: 80%;
    }
  }