* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.general-factoresHumanos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 98.8vw;
    height: 140vh;
    background-image: url(../img/seleccionPPL.jpg);
    background-size: cover;
}

.cuadro-botones-factoresHumanos{
    width: 70%;
    display: flex;  /* Establece un contenedor flexible */
    justify-content: space-between; /* Espacio entre los botones */
}

.parrafos-factoresHumanos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.parrafos-factoresHumanos p{
    width: 1000px;
    text-align: center;
    background-color: rgba(0,0,0,0.4) !important;
    color: rgb(125, 8, 8);
    border-radius: 20px;
    font-size: 50px;
    font-weight: 700;  
    box-shadow: 6px 6px 10px rgb(0, 0, 0,1 ); 
}

.btn-factoresHumanos{
    width: 30%;
    color: white !important;
    background-color: rgb(85, 10, 10) !important;
    border: none;
    font-size: 15px !important;
    font-weight: 900 !important;
    box-shadow: 6px 6px 10px rgb(0, 0, 0,1 ) !important; 
}

.btn-factoresHumanos:hover{
    background-color:rgb(29, 28, 28)!important;
    border: none;
    color: #fff;
    box-shadow: 6px 6px 10px rgb(0, 0, 0,1 ) !important; 
}

.factores-video-uno-PPL {
    width: 60%;
    height: 30%;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width:1005px){

    .parrafos-factoresHumanos p{
        width: 700px;
        font-size: 35px;
    }
    .btn-factoresHumanos{
        width: 160px;
        font-size: 8px !important;
    }
    .ft1-PPL{
        width: 180px;
        height: 150px;
    }
    .factores-video-uno-PPL {
       height: 10%;
    }
}

@media screen and (max-width:730px){

    .parrafos-factoresHumanos p{
        width: 550px;
        font-size: 25px;
    }
    .btn-factoresHumanos{
        width: 130px;
        font-size: 6px !important;
    }
    .ft1-PPL{
        width: 150px;
        height: 110px;   
    }
    .factores-video-uno-PPL {
        height: 7%;
     }
}


@media screen and (max-width:555px){
    .cuadro-botones-factoresHumanos{
        flex-direction: column;
       align-items: center;
    }
    .parrafos-factoresHumanos p{
        width: 350px;
        font-size: 18px;
    }
    .btn-factoresHumanos{
        width: 120px;
        font-size: 4px !important;
    }
    .ft1-PPL{
        width: 100px;
        height: 80px;   
    }
    .factores-video-uno-PPL {
        height: 5%;
     }
}

@media screen and (max-width:380px){
    .parrafos-factoresHumanos p{
        width: 200px;
        font-size: 10px;
    }
    .btn-factoresHumanos{
        width: 100px;
        font-size: 3px !important;
    }

    .ft1-PPL{
        width: 60px;
        height: 50px;   
    }
}